@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section {
    padding-top: 7rem;
    padding-bottom: 6rem;
}
//BTN
.btn__welcome {
    display: inline-block;
    border: none;
    background-color: #4C92D0;
    font-size: 2rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    letter-spacing: 2px;
}
.welcome {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__presentation {
       text-align: center;
       max-width: 47rem;

    }

    &__title {
        text-transform: uppercase;
        font-size: 13rem;
        font-weight: bold;
        padding-bottom: 8rem;

    }
    &__intro {
        display: block;
        font-weight: bold;
        font-size: 1.9rem;
        letter-spacing: 2px ;
        padding-bottom: 2.5rem;
    }

    &__span {
        padding-left: 2rem;
    }
   
}