@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    color: rgb(41, 41, 41);
}

h2 {
    font-size: 4.5rem;
    font-weight: 700;
}

.heading {
    padding-bottom: 5rem;
}

p {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

img {
    object-fit: contain;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 2rem;
}

.section {
    padding-top: 7rem;
    padding-bottom: 6rem;
}
//BTN
.btn__welcome {
    display: inline-block;
    border: none;
    background-color: #4C92D0;
    font-size: 2rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    letter-spacing: 2px;
}
.welcome {
    position: relative;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__presentation {
       text-align: center;
       max-width: 47rem;

    }

    &__title {
        text-transform: uppercase;
        font-size: 13rem;
        font-weight: bold;
        padding-bottom: 8rem;

    }
    &__intro {
        display: block;
        font-weight: bold;
        font-size: 1.9rem;
        letter-spacing: 2px ;
        padding-bottom: 2.5rem;
    }

    &__span {
        padding-left: 2rem;
    }
   
}
///
.qufib {
    position: relative;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        max-width: 60rem;
    }

    &__figure {
        max-width: 40%;

        &::after {
            content: '';
            background-color: #4C92D0;
            position: absolute;
            width: 25%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        } 
    }

    &__img {
        background: white;
        border-radius: 50%;
    }
}

//
.about-me {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
       max-width: 57rem;
    }

    &__img {
        padding-bottom: 2rem;
    }

    &__figcaption {
        font-size: 2.5rem;
        border-radius: 1rem;
        background-color: #4C92D0;
        text-transform: capitalize;
        max-width: 50%;
        padding: 1rem 2rem;
        margin: 0 auto;
        text-align: center;
    }
       
}
.work {
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
       max-width: 57rem;
    }

    &__figure {
        max-width: 30%;
    }

    &__text {
        padding-bottom: 2rem;
    }
}

.offer {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        background-color: #4C92D0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__wrapper {
        text-align: center;
        padding-bottom: 7rem;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    &__figure {
        position: relative;
        border-radius: 3rem;
        background: white;
        &::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        content: "\f004";
        font-size: 2rem;
        color: #4C92D0;
        position: absolute;

        }
        
    }
    &__figcaption {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 1rem;
    }
    &__display {
        display: block;
    }

    &__img {
        padding-bottom: 2rem;

    }

    &__connecteur {
        padding: 5rem 3rem;

    }
    &__print {
        padding: 5rem; 
    }
    
}
